h1 {
    color:#84f78e;
    font-family: 'Times New Roman', Times, serif;
    font-size: 54px;
    text-align: center;
 } 
 p{
    color:rgb(219, 250, 188);
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: justify;
    margin: 2cm;
    
 }
 body{
    background-color: rgb(1, 20, 49);
    
 }
 img{
   width: 500px;
 }
 footer{
   color: aliceblue;
 }
 
  .cabeçalho {
background-color: rgb(131, 193, 250);
color:rgb(26, 44, 6);
display: flex;
justify-content: space-around;
align-items: center;
padding: 24px 0;
 }
 .cabeçalho-lista{
   display: inline-block;
   margin: 0 16px;
   font-size: 36px;
 }
 .cabeçalho-lista-item{
   display: inline-block;
   margin: 0 16px;
   font-size: 36px;
 }
 
 .img{
   justify-content: center;
   display: flex;
 }
 h2{
  color:#84f78e;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
 }
 